        *{
            margin: auto;
            padding: auto;
            box-sizing: border-box;
        }
        header {
            background-color:rgb(255, 166, 50);
            position: sticky;
            top: 0;
            bottom: 0;
            height: min-content;
            font-size: 1.5vm;
        }
        nav {
            display: flex;
            position: relative;
            text-decoration: none;
            font-size: 2vw;
        }
        nav ul {
            display: inline-block;
        }
        nav ul li {
            display: inline-flex;
            margin: 8px;
        } 
        nav button{
            font-size: 2vw;
            height: auto;
            width: auto;
            border: 3px;
            background-color: rgb(255, 166, 50);
        }
        /*h1{
           font-family: cursive;
           font-size:120% ;


        }*/
        p{
            font: 1em sans-serif;
            font-family:"Georgia",'Garamond',"Helvetica","serif" ;
        }
        button {
            height: 30px;
            width: 90px;
            border: 3px;
            background-color: antiquewhite;
            margin: 0px 0px 10px 10px;
            border-radius:10px;
        }
         img{
        width: 70%;
        height: 70%;
        border-radius: 40px;
        }
        .box {
            display: inline-block; 
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }
        .box1{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 150%;
            width: 70%;
            height: min-content;
            border-radius: 2vw;
            background-color:darkkhaki;
            margin-top: 5vw;
            margin-bottom: 2vw;
            padding: 2%;
            color:rgb(65, 129, 1);
        }
        .box1 p{
            font-size: 70%; 
        }
 footer{
    background-attachment: fixed;
    background-image: url(https://thfvnext.bing.com/th/id/OIP.iyVkf48azBhpoLQWyEVoiAHaEO?w=319&h=182&c=7&r=0&o=7&cb=thfvnextfalcon2&dpr=1.5&pid=1.7&rm=3);
    background-repeat: no-repeat;
    background-size:cover;
    color: #000;

 }
 .socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
    .bottom-bar{
       width: 100%;
        background: #f18930;
        text-align: center;
        padding: 10px 0;
        margin-top: 50px;
    }
    .bottom-bar p{
        color: #343434;
        font-size: 16px;
        padding: 7px;
    }
    .why{
        padding: 5%;
        text-align: left;

    }
    .why2{
        width: 200px;
        display: inline-block;
        list-style-type: none;
        margin: 10px ;
        text-align: left;

    }
    .why3{
        width: 300px;
        display: inline-block;
        list-style-type: none;
        margin: 10px ;
        text-align: left;

    }


       